.example__title {
  color: @side-color;
  font-family: @accent-font;
}

.example__subtitle {
  color: @back-color;
  font-family: @base-font;
}

.example__results {
  color: @side-color;
  font-family: @accent-font;
}

.example__name {
  color: @back-color;
  font-family: @base-font;
}

.example__cost {
  color: @side-color;
  font-family: @accent-font;
}

.example {
  background-color: #eaeaea;
}
