.explanation__title {
  color: @side-color;
  font-family: @accent-font;
}

.explanation__text {
  color: @back-color;
  font-family: @base-font;
}

.explanation__list {
  .list-reset();
}

@media (min-width: @tablet-width) {
  .explanation__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 32px;
  }
}

@media (min-width: @desktop-width) {
  .explanation__list {
    display: flex;
    gap: 88px;
  }
}

.explanation__item__leaflet {
  background-image: url("../../img/mobile-leaflet.svg");
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .explanation__item__leaflet {
    background-image: url("../../img/tablet-leaflet.svg");
  }
}

.explanation__item__chemicals {
  background-image: url("../../img/mobile-chemicals.svg");
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .explanation__item__chemicals {
    background-image: url("../../img/tablet-chemicals.svg");
  }
}

.explanation__item__devices {
  background-image: url("../../img/mobile-devices.svg");
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .explanation__item__devices {
    background-image: url("../../img/tablet-devices.svg");
  }
}

.explanation__item__time {
  background-image: url("../../img/mobile-time.svg");
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .explanation__item__time {
    background-image: url("../../img/tablet-time.svg");
  }
}

