.extra-info__title {
  background-color: @side-color;
  font-family: @accent-font;
}

.extra-info__subtitle {
  background-color: #222222;
  font-family: @accent-font;
}

.extra-info__text {
  background-color: @back-color;
  font-family: @base-font;
}

.extra-info__text-price {
  background-color: @back-color;
  font-family: @base-font;
}

.extra-info__button {
  background-color: rgba(104, 183, 56, 1);
  font-family: @accent-font;
}
