.extra-info__title {
  color: @side-color;
  font-family: @accent-font;
}

.extra-info__subtitle {
  color: #222222;
  font-family: @accent-font;
}

.extra-info__text {
  color: @back-color;
  font-family: @base-font;
}

.extra-info__text-price {
  color: @back-color;
  font-family: @base-font;
}

.extra-info__list {
  .list-reset();
}

.extra-info__button {
  background-color: rgba(104, 183, 56, 1);
  font-family: @accent-font;
}
