.gift {
  background-image: image-set(
    url("../../img/surprise.svg")
  );
}

.gift__background {
  background-color: rgba(104, 183, 56, 0.85);
}

.gift__text {
  background-color: @fancy-color;
  font-family: @base-font;
}

@media (min-width: @tablet-width) {
  .gift {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 264px;
  }
}
