.main-footer {
  background-color: rgba(242, 242, 242, 1);
  padding: 20px 0;
}

.main-footer__socials-list {
  .list-reset();
  display: flex;
  justify-content: center;
  gap: 24px;
}

.main-footer__name {
  margin-bottom: 40px;
}

.main-footer__social-wrap {
  text-align: center;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.main-footer__socials-contacts-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-footer__logo-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: @back-color;
  font-family: @base-font;
}


@media (min-width: @tablet-width) {
  .main-footer__social-wrap {
    margin-bottom: 8%;
    margin-top: 8%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: 4%;
  }
}

@media (min-width: @tablet-width) {
  .main-footer__logo-link-img {
    margin-left: -48%;
    margin-right: 5%;
  }
}

@media (min-width: @tablet-width) {
  .main-footer__logo-link-text {
    margin-top: 1%;
  }
}

@media (min-width: @tablet-width) {
  .main-footer__socials-list {
    display: flex;
    margin-left: 15%;
    gap: 20%;
  }
}

@media (min-width: @tablet-width) {
  .main-footer__social-wrap {
    margin-bottom: 8%;
    margin-top: 8%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: 4%;
  }
}

@media (min-width: @desktop-width) {
  .main-footer__logo-link-img {
    margin-left: -56%;
    margin-right: 6%;
    margin-top: 0.7%;
  }
}

@media (min-width: @desktop-width) {
  .main-footer__logo-link-text {
    margin-top: 1%;
  }
}

@media (min-width: @desktop-width) {
  .main-footer__socials-list {
    display: flex;
    margin-left: 18%;
    gap: 22%;
  }
}


@media (min-width: @desktop-width) {
  .main-footer__social-wrap {
    margin-bottom: 4%;
    margin-top: 4%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: 6%;
  }
}
