.main-footer {
  background-color: rgba(242, 242, 242, 1);
}

@media (min-width: @tablet-width) {
  .social-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: @tablet-width) {
  .socials-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: @desktop-width) {
  .social-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: @desktop-width) {
  .socials-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
