.main-footer {
  .list-reset();
  background-color: rgba(242, 242, 242, 1);
}

@media (min-width: @tablet-width) {
  .main-footer__social-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: @tablet-width) {
  .main-footer__socials-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: @desktop-width) {
  .main-footer__social-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: @desktop-width) {
  .main-footer__socials-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
