.preview__main-title {
  color: @fancy-color;
  font-family: @accent-font;
}


.preview__subtitle {
  color: @fancy-color;
  font-family: @accent-font;
}


.preview {
  background-image: linear-gradient(rgba(104, 183, 56, 0.85),
   rgba(104, 183, 56, 0.85)) image-set(url("../../img/background-cat.jpg") 1, url("../../img/background-cat@2x.jpg") 2);
  background-repeat: no-repeat;
}


@media (min-width: @tablet-width) {
  .preview {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85),
   rgba(104, 183, 56, 0.85)) image-set(url("../../img/background-cat.jpg") 1, url("../../img/background-cat@2x.jpg") 2);
  }
}

@media (min-width: @desktop-width) {
  .preview {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85),
   rgba(104, 183, 56, 0.85)) image-set(url("../../img/background-cat.jpg") 1, url("../../img/background-cat@2x.jpg") 2);
    background-repeat: no-repeat;
  }
}
