.preview__main-title {
  color: @fancy-color;
  font-family: @accent-font;
}


.preview__subtitle {
  color: @fancy-color;
  font-family: @accent-font;
}

.preview {
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),/* stylelint-disable unit-no-unknown */image-set(url("../../img/background-cat.jpg") 1x/* stylelint-enable unit-no-unknown */, /* stylelint-disable unit-no-unknown */url("../../img/background-cat@2x.jpg") 2x); /* stylelint-enable unit-no-unknown */
  background-repeat: no-repeat;
}


@media (min-width: @tablet-width) {
  .preview {
    background: none;
  }
}

@media (min-width: @desktop-width) {
  .preview {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),/* stylelint-disable unit-no-unknown */ image-set(url("../../img/background-cat-desktop.jpg") 1x/* stylelint-enable unit-no-unknown */,/* stylelint-disable unit-no-unknown */ url("../../img/background-cat-desktop@2x.jpg") 2x);/* stylelint-enable unit-no-unknown */
    background-repeat: no-repeat;
  }
}
