.questionnaire__title {
  color: @side-color;
  font-family: @accent-font;
}

.questionnaire__subtitle {
  color: @side-color;
  font-family: @accent-font;
}

.questionnaire {
  background-color: @fancy-color;
}
